h3{
    margin-left: 6rem;
}
table{
    border: 1px solid grey;
    border-collapse: collapse;
    width: 20rem;
}
th,td{
    border:1px solid gray
}
thead{
    text-align: center;
    background-color:rgba(127, 212, 255, 0.488);
}
tbody{
    background-color:beige
}